@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("../font/PermanentMarker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "chinese-font";
  src: url("../font/chinese-font.ttf") format("truetype"),
    url("../font/chinese-font-en.ttf") format("truetype");
}

@font-face {
  font-family: "number-font";
  src: url("../font/numberFont.ttf") format("truetype");
}
