// rem参照值
html {
  font-size: $font-size-base;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
blockquote,
pre,
code,
button {
  font-size: $font-size-base;
}

* {
  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* WebKit */
  }
}

/* 禁用双指缩放手势 */
html,
body {
  touch-action: manipulation;
  overflow: hidden;
}

/* 禁用文本选择和长按复制 */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; /* 禁用 iOS 长按弹出菜单 */
}

/* 允许输入框文本选择 */
input,
textarea {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

/* 设置输入框字体大小, 最小为16px，防止ios自动放大 */
.nut-input .input-text {
  font-size: $font-size-base !important;
}

/* 优先级类 */
@each $priority, $color in $priority-color {
  .sku-priority-#{$priority} {
    color: $color !important;

    i,
    i::before {
      color: $color !important;
    }
  }
}

/* 重置vant弹窗字体 */
.van-dialog {
  font-family: "chinese-font";
}
