// rem参照值
html {
  font-size: $font-size-base;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
blockquote,
pre,
code,
button {
  font-size: $font-size-base;
}

* {
  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* WebKit */
  }
}

/* 禁用双指缩放手势 */
html,
body {
  touch-action: manipulation;
  overflow: hidden;
}

/* 设置输入框字体大小, 最小为16px，防止ios自动放大 */
.nut-input .input-text {
  font-size: $font-size-base !important;
}

/* 优先级类 */
@each $priority, $color in $priority-color {
  .sku-priority-#{$priority} {
    color: $color !important;

    i,
    i::before {
      color: $color !important;
    }
  }
}
