// 字体标准大小
$font-size-base: 16px;
// 选中色
$primary-color: #409eff;

// header高度
$header-height: 60px;

// footer高度
$footer-height: 60px;

// checkbox大小
$checkbox-size: 1.1rem;

// 优先级颜色
$priority-color: (
  // 优先级1
  "00": #d32f2f,
  // 优先级2
  "01": #f57c00,
  // 优先级3
  "02": #f9a825,
  // 优先级4
  "03": #388e3c,
  // 优先级5
  "04": #0288d1,
  // 优先级6
  "05": #7b1fa2,
  // 无优先级
  "06": #1d1e1e
);
